button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: black;
}

button:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    transform: scale(1.1);
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(255, 255, 255);
}

h2 {
    color: rgb(0, 243, 81);
    font-size: 24px;
    font-family: DS
}